section.dark#about
  div
    h2 About us
    p We are a team of <b>spatial audio enthusiasts</b> located in Berlin and Aachen.

    p.
      Coming from <b>diverse backgrounds and disciplines</b>, we combine our
      knowledge in interaction design, music technology, computer science
      and electrical engineering. We share several years of experience in
      planning and operating public address 3D sound systems.

    p Together, we want to realize our <b>vision to bring 3D audio to the masses</b>.
