section.dark#features
  div
    h2 Features 
    div.flex-container 

      a(href="https://doc.a3-audio.com#quickstart" target="_blank").dark
        .feature
          img(src="./img/aaa-icon-74x74-easy.svg" alt="icon easy to use")
          p easy to use

      a(href="https://doc.a3-audio.com/user/user.html#connections" target="_blank").dark
        .feature
          img(src="./img/aaa-icon-74x74-multi_spreaker.svg" alt="icon speaker")
          p arbitrary speaker layouts (4+ speakers)

      a(href="https://github.com/a3-audio/a3-system" target="_blank").dark
        .feature
          img(src="./img/aaa-icon-74x74-open_source.svg" alt="icon open source")
          p open source

      a(href="https://github.com/a3-audio/a3-hardware" target="_blank").dark
        .feature
          img(src="./img/aaa-icon-74x74-open_hardware.svg" alt="icon sunglasses")
          p open hardware

      //- href="https://3d-audio.io" target="_blank"
      a(name="community").dark
        .feature
          img(src="./img/aaa-icon-74x74-collaboration.svg" alt="icon community")
          p community

      //- href="https://3d-audio.io/c/a-events/7" target="_blank"
      a(name="sunglasses").dark
        .feature
          img(src="./img/aaa-icon-74x74-sunglasses.svg" alt="icon sunglasses")
          p made for sunglasses
