section#footer.dark
  div
    .flex-container
      div#logo
        a(href="index.html#home")
          img(src="./img/a3_logo-wed_dark.svg" alt="a^3_logo")
      div
        h2 Contact
        ul
          li
            | contact@a3-audio.com
          li
            | Phone: +49 156 78719489

      div
        h2 Documentation
        ul
          li
            a(href="https://a3-audio.com/a3-doc/index.html") QuickStart
          li
            a(href="https://a3-audio.com/a3-doc/user/user.html") User Guide
          li
            a(href="https://a3-audio.com/a3-doc/development/developer.html") Developer Docs

      div
        h2 Community
        ul
          li
            a(href="https://github.com/a3-audio/a3-system") Github

      div
        h2 Legal
        ul
          li
            a(href="legal-notice.html") Legal Notice
          li
            a(href="impressum.html") Impressum
          li
            a(href="datenschutz.html") Datenschutz

    .flex-row
      //- die zeit wird auf relativ zum eingetragenene UNIX-Timestamp generiert
      lastupdatesticker
      img(src="https://img.shields.io/badge/stage-pre--release-orange" alt="state: pre-release")
      img(src="https://img.shields.io/badge/funding-looking%20for%20crowd-blue" alt="funding: looking for crowd")

      <script type="text/javascript" src="https://app.mailjet.com/pas-nc-embedded-v1.js"></script>
