section#system.light
  div
    h2 System
    .flex-container

      #motion
        a(href="https://a3-audio.github.io/a3-doc/user/a3motion.html") 
          img(src='./img/a3-motion-icon_dark.svg' alt='A³Motion')
          h3 A³ Motion
          p.subline 4-Channel Motion Sampler
          ul
            li control motion via touch
            li 4 patterns per channel
            li beat-synced
            li OSC output

      #mixer
        a(href="https://a3-audio.github.io/a3-doc/user/a3mix.html") 
          img(src='./img/a3-mix-icon_dark.svg' alt='A³Mixer')
          h3 A³ Mixer
          p.subline 4-Channel DJ Mixer
          ul
            li control spatialization per channel
            li pre-listen binaural 3D
            li FX section
            li OSC output

      #core
        a(href="https://a3-audio.github.io/a3-doc/user/a3core.html") 
          img(src='./img/a3-core-icon_dark.svg' alt='A³Core')
          h3 A³ Core
          p.subline 3D Sound Server
          ul
            li spatialization, mixing, effects
            li speaker management
            li customizable audio hardware
            li full control via OSC
