section#team.light

  div
    h2 Team
    .flex-container

      #drlight.flip-card
        .flip-card-front.light
          img(src='./img/ava-drlight.png' alt='pix drlight')
          h3 Patric
          .text-left
            ul
              li software engineering
              li testing & debugging
              li technical advisory
        .flip-card-back.light
          .text-left
            h4 Skills:
            ul
              li computer scientist
              li acoustics & DSP
              li computer graphics & real-time rendering
              li virtual reality & 3D interaction
            h4 Tools:
            ul
              li emacs
              li git
              li mechanical keyboard

      #rafjagger.flip-card
        .flip-card-front.light
          img(src='./img/ava-rafjagger.png' alt='pix drlight')
          h3 Raphael
          .text-left
            ul
              li organization
              li configuration
              li documentation
              li support
        .flip-card-back.light
          .text-left
            h4 Skills:
            ul
              li audio-visual media designer
              li FOH engineer
              li information security officer
              li IT administrator
            h4 Tools:
            ul
              li archlinux rt
              li vim
              li soldering iron
              li headlight & duct tape

      //- #disco.flip-card
      //-   .flip-card-front.light
      //-     img(src='./img/ava-disco.png' alt='pix drlight')
      //-     h3 Jendrik
      //-     .text-left
      //-       ul
      //-         li ux design
      //-         li product design
      //-         li art direction
      //-         li field support
      //-   .flip-card-back.light
      //-     .text-left
      //-       h4 Skills:
      //-       ul
      //-         li prototyping
      //-         li electronics
      //-         li coding
      //-         li photography
      //-       h4 Tools:
      //-       ul
      //-         li imagination
      //-         li fantasy
      //-         li vs-code
      //-         li pen and paper

      #llze.flip-card
        .flip-card-front.light
          img(src='./img/ava-IIze.png' alt='pix drlight')
          h3 Mark
          .text-left
            ul
              li legal design
              li finance
              li samples & demos
              li community
        .flip-card-back.light
          .text-left
            h4 Skills:
            ul
              li corporate law & tax
              li business analyst
              li audio tech
              li digital art & music
            h4 Tools:
            ul
              li bitwig & cubase
              li midi controllers
              li software instruments
              li ruler & calculator

              