section.light#vision
  div
    h2 Vision 
    p <b>3D audio is the future</b> of music production and listening.

    p.
      We design <b>easy-to-use hardware interfaces</b> to control 3D sound,
      live or in the studio. Our system lowers the entrance barrier for the
      performing artist and lets you get creative with spatial audio
      effects.

    <!--
    p.
      Our mission is to spread 3D audio to clubs and venues. We plan and
      deploy <b>custom audio solutions</b> for event organizers to deliver a
      new quality of immersive experience to your audiences.

    p.
      We <b>involve our community</b> in the open development process and
      provide a platform for technical and artistic exchange.
      <b>Free licensing</b> of software and hardware makes our solution
      extensible to blend into your individual workflow.
    -->
