doctype html
html
  include ./includes/head.pug
  body
    header
      include ./includes/nav.pug

    main

      section.dark#home
        div
          a(href="#imprint")
            img(src="./img/a3_logo-wed_dark.svg" alt="a^3_logo")
            h1 Impressum

      section#imprint.light
        div
          h3 Open Source Project  
          p https://github.com/a3-audio

      include ./includes/footer.pug
