doctype html
html
  include ./includes/head.pug
  body
    header
      include ./includes/nav.pug

    main

      section.dark#home
        div
          a(href="#Newsletter Sign-Up")
            img(src="./img/a3_logo-wed_dark.svg" alt="a^3_logo")
            h1 Newsletter

      section#sign-up.light
        <iframe data-w-type="embedded" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://swi7r.mjt.lu/wgt/swi7r/q53/form?c=dbe1fadd" width="100%" style="height: 0;"></iframe>



      include ./includes/footer.pug
